fastapi
uvicorn
gitpython
langchain>=0.3.0
langchain-community>=0.3.0
langchain-classic
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
sentence-transformers
pydantic
python-dotenv
requests
PyYAML
